$Colores: (
    white,
    #8A5067,
    rgba(249, 187, 181, 1),
    #e284a9,
    #f1c5d7,
    #fae7ef,
    #FADEDA,
    #90d2d0,
    #00681f,
    rgb(50, 90, 70),
    rgb(83, 148, 116),
    #d3e4cd,
    #CAE6BF,
    #614c34,
    #865439,
    #86695b,
    #eedecb,
    rgb(255, 255, 255),
    rgb(247, 247, 193),

);

$Tamaños: (
    40px,
    35px,
    30px,
    22px,
    25px,
    20px,
    18px,
    17px,
    15px,
    14px,
    16px,
    10px,
    5px,
    2px,
);

$Fuentes: (
    'Dancing Script',
    'Crete Round',
    'Familjen Grotesk', 
    'Darker Grotesque',
    'Krub', sans-serif,
    'Habibi', serif,
);